<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%=poll.pollName%></title>
</head>
<div id="hiddenform" style="display: none;"></div>
<body>
    <div id="wrapper">
        <div class="row">
            <div class="logo-row">
              <img src="/assets/logo.png" alt="logo" class="logo">
            </div>
        </div>

        <div id="headercontainer">
            <% title = poll.question %>
            <% len = title.split(" ").length%>
            <div class="header1">
                <%=title.split(" ").slice(0,len-2).join(" ");%>
                <%poll.options.length%>
            </div>
            <div class="header2">
                <%=title.split(" ").splice(-2).join(" ");%>
            </div>
            <div class="header3">
                <div id="errormessage" class="hiding">
                Please select an option before pressing submit
                </div>
            </div>
        </div>
        <div class="buttoncontainer">
            <% for(let i = 0; i < poll.options.length; i++){ %>
                <button class = "button" id="button<%=i%>" onclick="highlightButton('button<%=i%>')"><%=poll.options[i].optionText%></button>
                <style>.button {height: <%=100*2/i%>px; }</style>
            <%}%>
            <button class="submitbutton" id="submitButton" onclick="submitButton(<%=poll.pollId%>)">SUBMIT</button>
        </div>
    </div>
    <script src="/script.js"></script>
</body>
</html>
